DEV_MODE=true

## BACKEND

DB_HOST=geoemploi_db
DB_USER=postgres
DB_PASSWORD=123456
DB_PORT=5432
DB_NAME=nest
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
JWT_SECRET="super_secret_token_shh"
TILE_CACHE_DIR=/data/wmts-cache

#### K6

K6_POOL_SIZE=30
K6_LOGIN_VUS=10
K6_LOGIN_DURATION=30s
K6_JOBS_READ_VUS=20
K6_JOBS_READ_DURATION=30s
K6_TILES_VUS=15
K6_TILES_DURATION=30s
K6_PROFILE_VUS=10
K6_PROFILE_DURATION=30s
K6_APPFLOW_VUS=10
K6_APPFLOW_DURATION=30s
